<!DOCTYPE html>
<html>
<head>
    <title>Waiting list</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</head>
<body class="">
    <section class="waiting_list_sect">
        <div class="container">
            <div class="waiting_list_inn">
                <div class="form_wrp">
                    <form class="waiting_list_form">
                        <h2 class="text-center">Join Waiting List</h2>
                        <p class="mb-5">Signup this form to showcase your intrest with SiFi, our team will get back you soon as possible for a quick demo of the platform. Stay tuned. </p>
                        <div class="form-group">
                          <label >Name</label>
                          <input type="text" class="form-control" placeholder="Enter the name">
                        </div>
                        <div class="form-group">
                          <label >Company Name</label>
                          <input type="text" class="form-control" placeholder="Enter the company name">
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+971</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                  </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enter your number">
                            </div>                      
                        </div>
                        <div class="form-group">
                          <label>Email Address</label>
                          <input type="email" class="form-control" placeholder="Enter your address">
                        </div>
                        <div class="submit_btn_wrp">
                            <button type="button" class="site_btn" data-toggle="modal" data-target="#waittinglistModal" >Submit</button>
                        </div>
                      </form>
                </div>
            </div>    
            <!-- Modal -->
            <div class="modal fade" id="waittinglistModal" tabindex="-1" role="dialog" aria-labelledby="waittinglistModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="pupup_wrp text-center">
                          <figure class="mb-5">
                            <img src="/static/image/right.png" alt="image">
                          </figure>
                          <p>Form successfully submitted, our team will<br/>reach-out to you soon as possible. </p>
                          <div class="submit_btn_wrp">
                            <button type="button" class="site_btn" data-toggle="modal" data-target="#waittinglistModal" >Back Home</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section><!--waiting_list_sect end-->
</body>